@font-face {
    font-family: 'Amatic';
    src: url('fonts/AmaticSC-Regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/AmaticSC-Regular-webfont.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/AmaticSC-Regular-webfont.woff') format('woff'), /* Modern Browsers */
    url('fonts/AmaticSC-Regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('AmaticSC-Regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Amatic';
    font-weight: bold;
    src: url('fonts/Amatic-Bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/Amatic-Bold-webfont.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Amatic-Bold-webfont.woff') format('woff'), /* Modern Browsers */
    url('fonts/Amatic-Bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('Amatic-Bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body {
    background: #fff;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
}

h2 {
    font-family:  'Amatic';
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 12px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: #000;
}

section p {
    font-family: 'Amatic';
    background: #000;
}

.chart {
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
    float:left;
    width:600px;
    height:400px;
    position:relative;
}
