section {
  background: #999;
  bottom: 0;
  left: 0;
  margin-left: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition-property: margin-left;
  transition-duration: 1s;
}

section.focused {
  background: #ccc;
  margin-left: 0;
}
