html, body {
  background: #000;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}

button {
  background: #f33;
  border: 0;
  border-radius: 80px;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  height: 160px;
  margin: 16px 10px 0 10px;
  width: 160px;
  vertical-align: middle;
}

h2 {
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 12px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section {
  display: table;
  font-size: 32px;
  font-weight: bold;
  height: 100%;
  left: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition-property: left;
  transition-duration: 1s;
  width: 100%;
}

section.focused {
  left: 0;
}

section.completed {
  left: -100%;
}

.background {
  height: 200%;
  left: -50%;
  position: absolute;
  top: -50%;
  width: 200%;
  z-index: -1;
}

.background > img {
  bottom: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.wrapper {
  display: table-cell;
  padding: 0 100px;
  position: static;
  text-align: center;
  vertical-align: middle;
}
