@import url(http://fonts.googleapis.com/css?family=Armata);

html, body {
  background: #000;
  color: #fff;
  font-family: 'Armata', sans-serif;
  overflow: hidden;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

h1 {
  font-family: 'Armata', sans-serif;
  font-size: 72px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Armata', sans-serif;
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 12px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

section {
  background: #000;
  font-size: 32px;
  font-weight: bold;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  top: 0;
  transition-property: opacity;
  transition-duration: 1s;
  width: 100%;
  z-index: 0;
}

section.focused {
  display: table;
  opacity: 1;
  z-index: 1;
}

section.completed {
  display: table;
  opacity: 1;
}

section p {
  font-family: 'Armata', sans-serif;
}

.background {
  height: 200%;
  left: -50%;
  position: absolute;
  top: -50%;
  width: 200%;
  z-index: -1;
}

.background > img,
.background > video {
  bottom: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.button-wrapper {
  display: inline-block;
  margin: 0 auto;
}

.dogtag {
  background: url('media/img/dogtag-sprite.png') -50px -50px no-repeat;
  color: #fff;
  display: table;
  float: left;
  font-family: 'Armata', sans-serif;
  font-size: 18px;
  margin: 0 20px;
  padding: 0;
  text-align: center;
}

.dogtag:hover {
  background-position: -50px -284px;
}

.dogtag > span {
  display: table-cell;
  height: 84px;
  padding: 20px 35px 30px 60px;
  vertical-align: middle;
  width: 152px;
}

.wrapper {
  display: table-cell;
  padding: 0 100px;
  position: static;
  text-align: center;
  vertical-align: middle;
}

.qWrapper {
  position: absolute;
  text-align: center;
  top: 50px;
  vertical-align: middle;
  width: 800px;
}

.left {
  left: 50px;
}

.right {
  right: 50px;
}

.fadeout {
  opacity: 0.3;
}

#q1text > div {
  font-size: 40px;
  transition-property: opacity;
  transition-duration: 2s;
  position: absolute;
  left: 0;
  line-height: 140%;
  width: 100%;
  text-align: center;
  bottom: 10%;
  text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black;
}

/* Infographic styles */
.chart {
  border: 0;
  color: #fff;
  float:left;
  width:600px;
  height:400px;
  position:relative;
}

.chart-wrapper {
  float: left;
}

.chart-wrapper:last-child {
  margin-left: 300px;
}

.stats-wrapper {
  margin: 0 auto;
  width: 1200px;
}

#step6 p {
  border: 0;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

svg > g > g > rect,
svg > g > g > rect + text > tspan {
  display: none
}