@font-face {
  font-family: 'Amatic';
  src: url('AmaticSC-Regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('AmaticSC-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('AmaticSC-Regular-webfont.woff') format('woff'), /* Modern Browsers */
  url('AmaticSC-Regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('AmaticSC-Regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Amatic';
  font-weight: bold;
  src: url('Amatic-Bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('Amatic-Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('Amatic-Bold-webfont.woff') format('woff'), /* Modern Browsers */
  url('Amatic-Bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('Amatic-Bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body {
  background: #000;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}

button {
  background: rgba(255, 51, 51, 0.9);
  border: 0;
  border-radius: 80px;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  height: 160px;
  margin: 16px 10px 0 10px;
  width: 160px;
  vertical-align: middle;
}

h2 {
  font-family:  'Amatic';
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 12px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

section {
  background: #000;
  font-size: 32px;
  font-weight: bold;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  top: 0;
  transition-property: opacity;
  transition-duration: 1s;
  width: 100%;
  z-index: 0;
}

section.focused {
  display: table;
  opacity: 1;
  z-index: 1;
}

section.completed {
  display: table;
  opacity: 1;
}

section p {
  font-family: 'Amatic';
}

.background {
  height: 200%;
  left: -50%;
  position: absolute;
  top: -50%;
  width: 200%;
  z-index: -1;
}

.background > img,
.background > video {
  bottom: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.wrapper {
  display: table-cell;
  padding: 0 100px;
  position: static;
  text-align: center;
  vertical-align: middle;
}
